*{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    width: 1440px;
    margin: 0 auto;
    padding: 64px 48px;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
    background:  #F3F5F6;
}

.content{
    width: 271px;
    height: 280px;


}

img{
    margin-bottom: 20px;
}

.h3{
    color: #161543;

    /* Text/1 strong */
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
    flex: 1 0 0;

}

p{
    color: #7687A1;

    /* Text/3 regular */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    align-self: stretch;
    margin: 10px 0 0 0;
    width: 80%;
}