@media screen and (min-width: 376px) and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    main{
        display: flex;
        width: 768px;
        margin: 0 auto;
        padding: 48px 24px;
        justify-content: space-between;
       flex-wrap: wrap;
        align-items: center;
        gap: 24px;
        background:  #F3F5F6;

        .content:last-child,
        .content:nth-last-child(2) {
            margin-bottom: 0;
        }

        .content img {
            width: 100%;
            height: auto;
            max-width: 160px;
        }


}

    .content {
        width: calc(50% - 24px);
    }


}