img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
}
p{
    border:1px solid black;
    border-radius: 15px;
    width: 50%;
    color: #770322;
    padding-left: 10px;
}
.batman, .Joker, .viki{
    border: 1px solid black;
    border-radius: 25px;
    padding-left: 15px;
    width: 20%;
    background-image: url("https://i.pinimg.com/1200x/15/b7/17/15b7179a4088749c786988d15cc9f9e3.jpg");
}