@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
}

.registration {
    width: 50%;
    height: 80%;
    margin: 0 auto;
    border: 1px solid #5a5959;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.instagram {
    font-family: "Italianno", serif;

    font-style: normal;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    margin: 45px auto 45px auto;
}

.form_registration {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

input[type="text"],
input[type="password"] {

    margin: 10px auto 10px auto;
    width: 100%;
    height: 50px;
    padding: 15px;

}

button {
    width: 100%;
    height: 50px;
    border-radius: 15px;
    background: #568bed;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin: 10px auto 10px auto;
}

button:hover {
    background: #3a75f6;
}

.or {
    width: 100%;
    margin: 25px auto 25px auto;
    color: gray;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.other {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.fb_registration {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    font-size: 24px;

}

#repasword {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 15px auto 15px auto;

}

.repassword, .alternative_registration {
    text-decoration: none;
}

.new_account {

    width: 50%;
    height: 15%;
    margin: 15px auto;
    border: 1px solid #5a5959;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#new_account {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

#new_account a {
    margin-left: 10px;
}