@media screen and (max-width: 470px) {
    main{
        display: flex;
        width: 375px;
        padding: 32px 16px;
        flex-direction: column;
        gap: 10px;
    }

    .text{
        align-self: stretch;
        color:  #3C3C43;
        text-align: center;

        /* Capital/1 strong */
        font-family: 'Inter', sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 15.6px */
        letter-spacing: 1.5px;
        text-transform: uppercase;
    }

    .img{
        border-radius: 10px;
    }
    body{
        overflow-x:hidden ;
    }



}